img{
    width: 120px;
    height: 100px;
}
.card{
   min-width: 200px;
    height: 300px;
    background-color: aqua;
    border-radius: 1rem;
    margin-right: 3rem;
    padding: 1rem;
    flex-grow: 1;
    /* box-sizing: border-box; */
}