.links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 3rem;
  }
  
  .links li {
    text-decoration: none;
    font-size: 1rem;
    color: rgba(255, 255, 0, 0.37);
  }
  .nav{
    color: rgb(208, 226, 93);
    text-decoration: none;
    font-size: 1.5rem;
  }
  